In [31]:
import numpy as np

In [30]:
import pandas as pd

In [147]:
data = pd.read_csv ('C:\\Users\\CAPEFIELD ACADEMY\\Desktop\\FoodBalanceSheets.csv', encoding = 'latin-1')
data.to_csv('C:\\Users\\CAPEFIELD ACADEMY\\Desktop\\FoodBalanceSheets.csv', index = False)

In [148]:
array = np.array([5,6,7,8])
print(array)

[5 6 7 8]

In [77]:
a= [5,6,7,8]
print(a)
print(type(a))
print(len(a))

[5, 6, 7, 8]
<class 'list'>
4

In [71]:
array = np.array([[5,6,7,8],[9,10,11,12],[1,2,3,4]])
print(array)
print(array.shape)
print(array.size)
print(array.ndim)
print(array.dtype)
print(type(array))        #OR

[[ 5  6  7  8]
 [ 9 10 11 12]
 [ 1  2  3  4]]
(3, 4)
12
2
int32
<class 'numpy.ndarray'>

In [80]:
a = [[5,6,7,8],[9,10,11,12],[1,2,3,4]]
array = np.array(a)
print(array)
print(array.shape)
print(array.size)
print(array.ndim)
print(array.dtype)
print(type(array))

[[ 5  6  7  8]
 [ 9 10 11 12]
 [ 1  2  3  4]]
(3, 4)
12
2
int32
<class 'numpy.ndarray'>

In [89]:
a= np.random.random(4,)
print(a)
b = np.random.randint(12, size=(4,))
print(b)
c = np.zeros(4,)
print(c)
d = np.ones(4,)
print(d)
e = np.identity(4)
print(e)

[0.1247013  0.60320982 0.54986876 0.11251322]
[ 6  7  7 11]
[0. 0. 0. 0.]
[1. 1. 1. 1.]
[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [95]:
a= np.array([[5,6,7,8],[1,2,3,4]])
b= np.array([[1,2,3,4],[5,6,7,8]])
print(a+b)
print(a*b)
print(b-a)

[[ 6  8 10 12]
 [ 6  8 10 12]]
[[ 5 12 21 32]
 [ 5 12 21 32]]
[[-4 -4 -4 -4]
 [ 4  4  4  4]]

In [98]:
a= np.array([[5,6,7,8],[1,2,3,4]])
a[1,:2]

array([1, 2])

In [105]:
a = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
days= np.array(a)

days_df = pd.Series(days)
days_df

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
5     Saturday
dtype: object

In [107]:
a = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
days= np.array(a)

days_df = pd.Series(days, index = ['a','b','c','d','e','f'])Fdays_df
days_df

a       Monday
b      Tuesday
c    Wednesday
d     Thursday
e       Friday
f     Saturday
dtype: object

In [122]:
days_df =pd.Series({'a':'Monday','b':'Tuesday','c':'Wednesday','d':'Thursday','e':'Friday','f':'Saturday'}) 

days_df['c':]

c    Wednesday
d     Thursday
e       Friday
f     Saturday
dtype: object

In [123]:
print(pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

In [124]:
print(pd.DataFrame(days_df))

           0
a     Monday
b    Tuesday
c  Wednesday
d   Thursday
e     Friday
f   Saturday

In [139]:
a = [ 'Ghàna' , 'cameron', 'india', 'Kenya']
b = ['Accra', 'ball','pent','door']
c= [ 5000, 3000, 6000, 2000]
d= [ 20,30,40,50]
count = np.array(a)
capt = np.array(b)
popu = np.array(c)
ag= np.array(d)
df_dict= pd.Series( {'Country': count, 'Capital': capt, 'population': popu,'Age':ag})
df_dict

Country       [Ghàna, cameron, india, Kenya]
Capital            [Accra, ball, pent, door]
population          [5000, 3000, 6000, 2000]
Age                         [20, 30, 40, 50]
dtype: object

In [135]:
df_list = [['Ghàna' , 'Accra',5000,20],
           ['cameron', 'ball',3000,30],
           ['india' ,'pent',  6000 ,40],
           ['Kenya','door', 2000,50]
          ]

df_dict= pd.DataFrame( df_list, columns = ['Country','Capital','Population','Age'], index = [2,4,6,8])


df_dict

   Country Capital  Population  Age
2    Ghàna   Accra        5000   20
4  cameron    ball        3000   30
6    india    pent        6000   40
8    Kenya    door        2000   50

In [140]:
a = [ 'Ghàna' , 'cameron', 'india', 'Kenya']
b = ['Accra', 'ball','pent','door']
c= [ 5000, 3000, 6000, 2000]
d= [ 20,30,40,50]
count = np.array(a)
capt = np.array(b)
popu = np.array(c)
ag= np.array(d)
df_dict= pd.Series( {'Country': count, 'Capital': capt, 'population': popu,'Age':ag})
df = pd.DataFrame(df_dict, index = [ 2,4,6,8])
df

     0
2  NaN
4  NaN
6  NaN
8  NaN

In [146]:
a = [ 'Ghàna' , 'cameron', 'india', 'Kenya']
b = ['Accra', 'ball','pent','door']
c= [ 5000, 3000, 6000, 2000]
d= [ 20,30,40,50]
count = np.array(a)
capt = np.array(b)
popu = np.array(c)
ag= np.array(d)
df_dict= pd.Series( {'Country': count, 'Capital': capt, 'population': popu,'Age':ag})
df = pd.DataFrame(df_dict, index = [ 2,4,6,8])
df.notnull()

       0
2  False
4  False
6  False
8  False

In [165]:
d = 'https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
data = pd.read_csv(d)
data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [170]:
d = 'https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
data = pd.read_csv(d)
data.describe(include='all')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_1994_12_1_0_7,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [171]:
d = 'https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
data = pd.read_csv(d)
data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [173]:
d = 'https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
data = pd.read_csv(d)
data.describe(include='null')

TypeError: data type 'null' not understood